
.hero {
    height: 250px;
    background-image: url(./images/castillo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.section-search {
    width: 80%;
    background-color: white;
    border: 1px solid grey;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    box-shadow: 0 0 10px #444444;
    position: absolute;
    transform: translateY(-40px);}

.favorites-list {
    
    margin-top: 100px;
    padding: 50px 60px;
    flex-direction: column;
    align-items: center;
 }


.favorites {
   
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 25px;
    color: pink;
    font-weight: bold;
    text-align: left;
    
}

.input {
    padding-left: 20px;
    margin-left: 60px;
    height: 25px;
}

.search {
    width: 100%;
    background-color:white;
    border: 1px solid pink;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
   
}

.Form {
    display: flex;
    gap: 10px;
    width: 100%;
    padding: 0px 100px;}


 .form{
     width: 50%;   }


.footer {
    padding: 100px 0px;
    text-align: center;
    background-color:lightseagreen;
    color: white;
}

.character-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: 10px;
}
.character-name {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 0.5rem;
}

.character-container {
    display: flex;
    display: inline-block;
    margin: 0.5rem;
    align-items: center;
    border: px solid cyan;
    box-shadow: 0 0 10px #444444;

   
}

.character{
    font-size: 15px;
    color: palevioletred;
    font-weight: bold
}